body {
    font-family: PT Sans;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    font-weight: normal;
}

h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: black;
}
